<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display_bookings.css') }}">


    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <title>User Information</title>
</head>
<body>
    <header class="navbar">
        <nav>
            <label class="logo">Sergio's Limousine Company</label>
            <ul class="links">
                <li><a href="{{url_for('dash')}}">Back</a></li>
                <li><a href="#contact">Contact</a></li>

                <li><a href="{{url_for('logout')}}" class="#active" >Logout</a></li>
            </ul>
        </nav>
    </header> 

    <section id="book_info">
        <h1 id="booklist_header">{{current_user.username}}'s Booking History</h1>
        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.from_res }}</td>
                        <td>{{ user.to_res }}</td>
                        <td>{{ user.selected_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>
